.button-container {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    &.center {
        justify-content: center;
    }
    &.end {
        justify-content: flex-end;
    }
    button,
    a {
        width: 165px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $primary;
        border: none;
        padding: 7px 15px;
        font-size: 1.1rem;
        color: $white;
        font-weight: 700;
        transition: background-color 0.2s ease-in-out;
        &.success {
            background-color: $success;
            color: $white;
        }
        &.error {
            background-color: $error;
            color: $white;
        }
        @media (min-width: $mobile) {
            font-size: 1rem;
        }
        .icon {
            display: flex;
            margin-left: 5px;
        }
        &:hover {
            background-color: $primary-dark;
            &.success {
                background-color: $success-dark;
            }
            &.error {
                background-color: $error-dark;
            }
        }
    }
}
