.cronometro {
    .wind {
        p {
            font-weight: 400;
            font-size: 1.3rem;
            color: $white;
            span {
                font-weight: 700;
                font-size: 1.3rem;
            }
        }
    }
}
