.form-container {
    margin: 2rem 0;
    .form-default {
        max-width: 50rem;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        .msg-erro {
            p {
                color: $error;
                text-align: center;
                font-size: 1rem;
            }
        }
        input {
            padding: 0.8rem 1.3rem;
            font-size: 1.2rem;
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
}
