.form-container {
    max-width: 23rem;
    width: 100%;
    .form {
        max-width: 50rem;
        width: 100%;
        &-main {
            background-color: $primary;
            padding: 2rem 1.5rem;
            display: flex;
            flex-direction: column;
        }
        &-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1rem;
            width: 100%;
            @media (max-width: $mobile) {
                flex-direction: column-reverse;
            }
            .link-padrao {
                width: inherit;
                @media (max-width: $mobile) {
                    text-align: center;
                    font-size: 1.2rem;
                }
            }
            .button-container {
                width: inherit;
                margin-top: initial;
                @media (max-width: $mobile) {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}
