.content-game {
    margin: 3rem 0;
    &-items {
        display: grid;
        justify-items: center;
        grid-gap: 15px;
        @media (min-width: $mobile) {
            max-width: 85rem;
            width: 100%;
            justify-items: end;
            grid-template-columns: repeat(5, 1fr);
        }
        &-item {
            &.hasIndex {
                @media (min-width: $mobile) {
                    display: flex;
                }
                ul {
                    &:not(.coluna) {
                        width: 100%;
                        min-width: 11rem;
                        height: 100%;
                        background-image: linear-gradient(90deg, $primary, $secondary);
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                    }
                }
            }
            ul {
                padding-left: 1rem;
                background-color: $primary;
                &:not(.coluna) {
                    li {
                        position: relative;
                        padding: 1rem 0;
                        text-align: left;
                        color: $white;
                        font-weight: 700;
                        &:not(:last-child) {
                            &::after {
                                content: "";
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                width: 100%;
                                height: 2px;
                                background-color: $white;
                            }
                        }
                    }
                }
                &.coluna {
                    width: 100%;
                    min-width: 13rem;
                    height: 100%;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    li {
                        &:not(:last-child) {
                            margin-bottom: 1.5rem;
                        }
                        select {
                            width: 100%;
                            border: 0.2rem solid $white;
                            background-color: transparent;
                            font-size: 1.2rem;
                            color: $white;
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}
.content-tips {
    margin: 3rem 0;
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        li {
            label {
                font-size: 1rem;
                color: $white;
                .important {
                    color: $primary;
                }
            }
        }
    }
}
