.highlight {
    max-width: 35rem;
    width: 100%;
    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        color: $white;
        margin-bottom: 1.5rem;
    }
    p {
        font-size: 1rem;
        line-height: 1.5;
        color: $white;
        margin-bottom: 2rem;
    }
}
