.container-tabela-pontuacao {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .pontuacao {
        border-collapse: collapse;
        width: 100%;
        th {
            font-weight: 700;
        }
        td,
        th {
            border: 1px solid $light-grey;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: $light-grey;
        }
    }
}
