@mixin buttonPopUp {
    position: relative;
    box-sizing: border-box;
    height: 3rem;
    border: 0;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.16px;
    flex-shrink: 0;
    padding: 1rem 1rem 2rem;
    color: $white;
    text-align: center;
    background-color: $primary;
    transition: background-color 0.2s ease-in-out;
    &:first-child {
        margin-bottom: 0.5rem;
    }
    &:hover {
        background-color: $primary-dark;
    }
}
