@mixin titleColuna {
    font-size: 1.4rem;
    color: $white;
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width: $tablet) {
        font-size: 0.7rem;
        top: -20px;
    }
}
