@mixin titleColuna {
    font-size: 1.4rem;
    color: $white;
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width: $tablet) {
        top: -25px;
        font-size: 1.2rem;
    }
}
