/* Colors */
$primary: #0062ff;
$primary-dark: #004ecc;
$secondary: #051243;
$secondary-dark: #030a26;

$white: #ffffff;
$light-grey: #dddddd;
$success: #22bb33;
$success-dark: #1c9b2b;
$error: #bb2124;
$error-dark: #9c1c1e;

/* Breaking points */
$mobile: 767px;
$tablet: 1025px;
$desktop: 1200px;
