/* Colors */
$primary: #1260f6;
$primary-dark: #0143ce;
$secondary: #001d6c;
$secondary-dark: #001141;

$white: #fafafa;
$light-grey: #dddddd;
$success: #22bb33;
$success-dark: #1c9b2b;
$error: #bb2124;
$error-dark: #9c1c1e;

/* Breaking points */
$mobile: 767px;
$tablet: 992px;
$desktop: 1200px;
